.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  background-color: #243a67;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: top;
  font-size: calc(30px + 4vmin);
  color: white;
  background-color: rgb(85, 146, 200);
  border: 3px solid rgb(7, 27, 45);
  min-height: 800px;
  width: 75%;
  padding: 10px;
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  vertical-align: top;
  font-size: calc(30px + 4vmin);
  color: white;
  background-color: rgb(85, 146, 200);
  min-height: 800px;
  width: 100%;
  padding: 10px;
  margin: 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(25px + 4vmin);
  color: white;
}

.input {
  min-height: 800px;
  width: 75%;
}
